<% include ../partials/header.ejs %>
<div class="slds-grid slds-wrap slds-grid--pull-padded slds-grid--vertical-stretch">
  <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
    <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
      <div class="slds-panel__section">
        <div class="slds-text-heading--medium">Posts By Location</div>
        <div class="slds-m-top--medium" id="posts-by-location"></div>
        <script>
            var messagesToDisplay = [];
            var mapPoint;

            <% messages.forEach(function(msg) { %>
              mapPoint = {
                id: '<%= msg.id %>',
                x: <%= msg.location.x %>,
                y: <%= msg.location.y %>
              };

              messagesToDisplay.push(mapPoint);
            <% }); %>
        </script>
      </div>
    </div>
  </div>
  <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--4-of-12">
    <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
      <div class="slds-panel__section">
        <div class="slds-text-heading--medium">Posts By Date</div>
        <div class="m-posts slds-m-top--medium slds-scrollable--y" id="posts-by-date">
          <% messages.forEach(function(msg) { %>
              <article id="msg-<%= msg.id %>" class="slds-media slds-comment slds-hint-parent slds-p-around--small" data-latitude="<%= msg.location.x %>" data-longitude="<%= msg.location.y %>">
                <div class="slds-media__figure">
                  <div class="slds-avatar slds-avatar--circle slds-avatar--small">
                    <img src="/assets/images/avatar1.jpg" />
                  </div>
                </div>
                <div class="slds-media__body">
                  <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                    <p class="slds-truncate"><strong><%= msg.username %></strong> -
                      <span class="slds-text-body--small"><%= msg.relativetimestamp %></span>
                    </p>
                  </div>
                  <div class="slds-comment__content slds-text-longform">
                    <%= msg.message %>
                  </div>
                  <div class="slds-m-top--xx-small slds-text-body--small">
                    <span class="slds-badge">Debug: <%= msg.ip %> / <%= msg.location.x %> / <%= msg.location.y %></span>
                  </div>
                </div>
              </article>
          <% }); %>
        </div>
        <div class="slds-publisher slds-publisher--discussion slds-m-top--medium">
          <label for="username-input" class="slds-assistive-text">Username</label>
          <input id="username-input" class="slds-input" type="text" placeholder="Username" style="width: 130px;" required />&nbsp;
          <label for="message-input" class="slds-assistive-text">Post a message…</label>
          <textarea id="message-input" class="slds-publisher__input slds-textarea slds-text-longform" placeholder="Post a message… (140 characters max)" required></textarea>
          <div class="slds-publisher__actions slds-grid slds-grid--align-spread">
            <button id="post-button" class="slds-button slds-button--brand">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>